<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Projeto</title>
    <style>
        .nomeProfessor {
            margin-bottom: 20px;
        }
        .box {
            display: flex;
        }
        .mb20 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    {% if edit %}
        <h1>Visualizar Projeto</h1>

        {% if success %}
            <p>Projeto adicionado com sucesso!</p>

        {% endif %}
        <div class="nomeProfessor">Professor Responsável <strong>{{ professor.nome }}</strong></div>
        <div class="nomeAluno">Aluno Responsável <strong>{{ projeto.aluno.nome }}</strong></div>
        </br>
        
        <form method="post">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="{{ projeto.nome }}" readonly><br><br>
        
            <label for="inicio">inicio:</label>
            <input type="text" id="inicio" name="inicio" value="{{projeto.inicio|date:'d/m/Y'}}" readonly><br><br>
            
            <label for="fim">fim:</label>
            <input type="text" id="fim" name="fim" value="{{projeto.fim|date:'d/m/Y'}}" readonly><br><br>
            
            <label for="situacao">situacao:</label>
            <input type="text" id="situacao" name="situacao" value="{{ projeto.situacao }}" readonly><br><br>

            <h3>Atividades</h3>
            <ul>
                {% for atividade in atividades %}
                    <li><a href='/myapp/visualizar-atividade/{{atividade.id}}/projeto/{{projeto.id}}'>{{ atividade.descricao }} - {{ atividade.situacao }}</a></li>
                {% empty %}
                    <li>Nenhuma atividade encontrada.</li>
                {% endfor %}
            </ul>
            <a href='/myapp/projeto/{{projeto.id}}/criar-atividade/'><input type="button" value="Criar Atividade"></a>

            <br /> <br />
            <h3>Relatorios</h3>
            <ul>
                {% for rlt in relatorios %}
                    <li>{{ rlt.descricao }}</li>
                {% empty %}
                    <li>Nenhum Relatório encontrado.</li>
                {% endfor %}
            </ul>
            <a href='/myapp/projeto/{{projeto.id}}/criar-relatorio/'><input type="button" value="Criar Relatório"></a>


            <div style="margin-top: 30px;">
                <a class="mb20" href="/myapp/listar-projetos"><input type="button" value="Voltar"></a>
                <a class="mb20" href="/myapp/projeto/{{projeto.id}}/finalizar"><input type="button" value="Finalizar Projeto"></a>
            </div>
        </form>
    {% else %}
        <h1>Adicionar Projeto</h1>

        <div class="nomeProfessor">Professor Responsável <strong>{{ professor.nome }}</strong></div>

        <form method="post">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required><br><br>
           
            <label for="inicio">inicio:</label>
            <input type="date" id="inicio" name="inicio" required><br><br>
            
            <label for="fim">fim:</label>
            <input type="date" id="fim" name="fim" required><br><br>
            
            <label for="aluno">Aluno:</label>
            <select id="aluno" name="aluno" required>
                {% for aluno in alunos %}
                    <option value={{aluno.cpf}}>{{aluno.nome}}</option>
                {% endfor %}
            </select><br><br>
    
        
            <a href="/myapp/listar-projetos"><input type="button" value="Voltar"></a>
            <input type="submit" value="Adicionar">
        </form>

    {% endif %}
    
</body>
</html>
