<!DOCTYPE html>
<html>
<head>
    <title>Atividades Pendentes</title>
    <style>
        .nomeProfessor {
            margin-bottom: 20px;
        }
        .box {
            display: flex;
        }
        .mb20 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

        <h1>Atividades estão pendentes!</h1>
        <p>Execute as atividades na tela de visualização de projeto e tente novamente. </p>

        <div style="margin-top: 10px;">
            <a class="mb20" href="/myapp/visualizar-projeto/{{projeto.id}}"><input type="button" value="Voltar"></a>
        </div>

    
</body>
</html>
