<!DOCTYPE html>
<html>
<head>
    <title>Reitor</title>
</head>
<body>
    <h1>Visualizar Reitor</h1>
    
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" value="{{ reitor.nome }}" readonly><br><br>
    <label for="nome">Tipo:</label>
    <input type="text" id="tipo" name="tipo" value="Reitor" readonly><br><br>

    {% for projeto in projetos %}
        <h3>Projetos</h3>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" value="{{ projeto.nome }}" readonly><br><br>

        <label for="inicio">inicio:</label>
        <input type="text" id="inicio" name="inicio" value="{{projeto.inicio|date:'d/m/Y'}}" readonly><br><br>
        
        <label for="fim">fim:</label>
        <input type="text" id="fim" name="fim" value="{{projeto.fim|date:'d/m/Y'}}" readonly><br><br>
        
        <label for="situacao">situacao:</label>
        <input type="text" id="situacao" name="situacao" value="{{ projeto.situacao }}" readonly>
        <a href="/myapp/aprovar-projeto/{{projeto.id}}"><input type="button" value="Aprovar Projeto"></a><br />
        <br><br>
    {% endfor %}
    <a href="/myapp/listar-usuarios"><input type="button" value="Voltar"></a><br />
    </br>

</body>
</html>
